.container {
    align-items: center;
    height: 100vh;
    background: url('m') no-repeat center center/cover ;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }