.container {
    align-items: center;
    text-decoration-color: white;
    height: 100vh;
    background: color(#000000) ;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
a {
    font-size: large;
}
h1 {
    font-size: xx-large;
}